
<div id="monsonry-container" class="transitions-enabled centered fluid infinite-scroll clearfix">
<% @posts.each do |post| %>
  <div class='box'>
  <h3><%= link_to post.title, post %></h3>
  <p><%= truncate(markdown(post.body), length: 100, escape: false) %></p>
  </div>

<% end %>
</div>


