
<h2>All Posts</h2>
<hr>
<div id="post-container">
<% @posts.each do |post| %>

  <div class="box <%= "size#{col_span}#{col_span}" %>">
  <div class="inner">
    <h3><%= link_to post.title, post, class: "post-title" %></h3>
        <div><%= markdown(post.body) %></div>
   </div>
  </div>

<% end %>
</div>


<script>
$("#post-container").nested({
  minWidth: 155,
  gutter: 7,
  animate: true,
  animationOptions: {
    speed: 200,
    duration: 300,
    queue: false
  },
  resizeToFit: true,
  resizeToFitOptions: {
    resizeAny: true
  }
});
</script>

