
<h2>All Posts</h2>
<hr>
<div id="masonry-container" class="transitions-enabled infinite-scroll has-gutters fluid centered masonry">
<% @posts.each do |post| %>

  <div class="box">

  <h3><%= link_to post.title, post %></h3>
  <p><%= truncate(markdown(post.body), length: 100, escape: false) %></p>
  </div>

<% end %>
</div>


