
<h3> All Posts </h3>

<div>
  <ul>
    <% @posts.each do |post| %>
      <li>
      <h1><%= link_to markdown(post.title), post_path(post) %></h1>
      <p><%= markdown(post.body) %></p>

      </li>
    <% end %>
  </ul>
</div>


