$primary: #a1d36e;
$secondary: #6ad1dd;
$tertiary: #fc6e51;
$quaternary: #48cfad;

body.signed_out {
   bottom: 25px;
   #content {
      padding-top: 80px;
   }
   h2 {
      font-size: 200%;
   }
   #content .article {
      background: rgba(214, 227, 255, 0.8);
      padding: 15px;
      border-radius: 2px;
      a {
         display: inline-block;
         position: relative;
         text-decoration: none;
         padding: 2px 4px;
         border-radius: 2px;
         color: #3BAFDA;
         margin-top: 20px;
         background: #fff;
         -webkit-transition: all 0.3s ease-in-out;
         -moz-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
         font-weight: 300;
      }
      a:last-of-type {
         margin-top: 10px;
      }
      a:hover {
         color: #196ea3;
      }
   }
   form {
      display: block;
      margin-bottom: 20px;
   }
   br {
      display: none;
   }
   form > div {
      text-align: right !important;
      padding-top: 7px !important;
      padding-bottom: 7px !important;
   }
   form label {
      width: 100px !important;
      margin-right: 20px;
      font-weight: bold;
   }
   form {
      input {
         width: 250px;
         float: right;
      }
      input[type="submit"] {
         width: 175px;
      }
   }
}

.home_heading {
   -webkit-mask-image: url(http://ahhh.co/files/ex4.png);
   color: #fff;
   text-shadow: 2px 3px #fff, 6px 6px #333;
   font-size: 400%;
   margin: 0 auto;
   width: 470px;
   text-align: center;
}

.banner-wrapper {
   width: 1000px;
}

header, nav {
   margin: 0 auto;
}

// #masonry-container {
//    width: 1000px;
// }

.box {
   // margin: 5px;
   // padding: 5px;
   // background: #2f364c !important;
   font-size: 14px !important;
   line-height: 1.4em;
   // float: left;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 5px;
   // display: inline;
   // width: 260px;
   // color: #fff;
   color: #888888;
   // min-width: 200px;
}

.box img {
   width: 100%;
   max-width: 200px;
}

// #masonry-container a, #masonry-container a:visited {
//    color: #3BAFDA !important;
//    text-decoration: none;
// }

// #masonry-container h3 {
//    font-size: 180%;
//    margin-top: 10px;
// }

.button-link {
   display: inline-block;
   position: relative;
   text-decoration: none;
   padding: 2px 4px;
   border-radius: 2px;
   color: #fff;
   margin-top: 20px;
   background: #3BAFDA;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   font-weight: 300;
}

.button-link:hover {
   color: #2f364c;
}

h1.post-title {
   margin-bottom: .1em;
}

.img-wrapper {
   width: 470px;
}

.img-wrapper img {
   width: 50%;
   text-align: center;
   margin: 0 auto;
}

body.signed_out #content div.img-wrapper {
   text-align: center;
}

body.signed_out #content .article {
   text-align: left;
}

.box {
   max-height: auto;
   overflow: hidden;
   border-bottom: 10px solid white;
   margin-top: 10px;
}

.box img {
   display: inline-block;
   width: 200px;
   float: left;
   position: relative;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-top: 20px;
}

div.inner {
   max-width: 90%;
   margin: 0 auto;
   overflow: hidden;
   text-overflow: ellipsis;
   max-height: 95%;
   margin-bottom: 10px;
   orphans: inherit;
   overflow-wrap: break-word;
}

h3 {
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 1em;
   vertical-align: bottom;
   height: auto;
   position: relative;
   top: 10px;
   text-align: left;
}

p {
   text-align: left;
}

.alert, {
   background: #FCF8E3;
   padding: 15px 0 15px 15px;
   margin-bottom: 10px;
   font-size: 13 / 16 + em;
   color: #888;
   border-radius: 3px;
   position: relative;
   .icon-checkmark, .icon-exclamation {
      display: inline-block;
      margin-right: 10px;
   }
   .close {
      background: rgba(0, 0, 0, 0.1);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
      padding: 10px 30px;
      [class*="icon-"] {
         font-size: 30 / 16 + em;
         color: #fff;
      }
   }
   &* {
      text-align: left !important;
   }
   &.alert-error {
      background: $tertiary;
      color: #fff;
   }
   &.alert-alert {
      background: $quaternary;
      color: #fff;
   }
   &.alert-notice {
      background: $secondary;
      color: #fff;
   }
   &.alert-success {
      background: $primary;
      color: #fff;
   }
   &.alert-info {
      background: $secondary;
      color: #fff;
   }
}

.verified {
   &:before {
      content: '\e60c';
      font-family: icomoon;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 10px;
      background: $primary;
      color: #fff;
      box-sizing: border-box;
      padding: 3px;
   }
   &.active {
      &:before {}
   }
}

.signed_out form div:last-child {
   input[type="password"],
   input[type="email"],
   input[type="text"] {
      padding: .3em .5em;
      font-size: .85em;
      background-color: rgb(242, 242, 242);
      color: black;
      line-height: 1.1em;
   }
}

input[type="submit"], button {
   cursor: pointer;
}

.field_with_errors {
   display: inline;
}

.alert ul {
   margin-bottom: 0;
}

.alert li {
   text-align: left !important;
   list-style-type: none;
}

body.signed_out #content form div {
   margin-right: 0;
}

body.signed_out {
   h2, label {
      color: #28324E;
   }
   h2 {
      text-align: center;
      font-size: 300%;
   }
}

body > header {
   margin-left: 0;
   margin-right: 0;
}

body.signed_out #content {
   background: transparent;
}

.signed_out .article h2::after {
   content: url(https://doc-04-80-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/umih0li25lpgtv9rvibugrml4u9v712r/1405101600000/08440785255651986528/*/0B9sJDpz93uClQlhic1RXdUdLeFk?h=16653014193614665626);
}