
<header role="banner">
  <hgroup>
    <h1><a href="/">Dev Boot Cat</a></h1>
    <h2>Meow Meow Meow...Code some more...Meow Meow Meow...</h2>

    <h2><a href="https://twitter.com/DevBootCat">
    <img src="https://pbs.twimg.com/profile_images/474243480961552384/nVwdtNjo_400x400.jpeg"></a></h2>
  </hgroup>
</header>

